
@{
    ViewBag.Title = "Index";
}
<a href="@Url.Action("CreateStudent", "Student")">Create</a>
<a href="@Url.Action("ReadStudents", "Student")">Read</a>
<a href="@Url.Action("UpdateStudent", "Student")">Update</a>
<a href="@Url.Action("DeleteStudent", "Student")">Delete</a>

